@{
    ViewBag.Title = "Home Page";
    
}

<main>
    <br /><br />
    <div class="row">
        <div class="col col-4">
            <label for="txtId">Id</label>
            <input type="number" id="txtId" name="txtId" />
        </div>
        <div class="col col-4">
            <label for="txtFecha">Fecha</label>
            <input type="date" id="txtFecha" name="txtFecha" />
        </div>



    </div>
    <br /><br /><br />
    <div class="row">
        <div class="col col-4">
            <button type="button" id="btnEjecutar">Registrar</button>
        </div>
    </div>

    <hr />
    <br /><br />
    <h2>Lista Registros</h2>
    <br />
    <div class="row">
        <div class="col col-4">
            <label for="txtIds">Ids(1,2,3)</label>
            <input type="text" id="txtIds" name="txtIds" />
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="col col-4">
            <button type="button" id="btnConsutar">Ver Registros</button>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12" id="tablaDatos">
            @Html.Partial("_ListaDatos")
        </div>
    </div>
</main>




<script>
    $('#btnEjecutar').on('click', ejecuarMetodo);

    function ejecuarMetodo() {
        var _id = $('#txtId').val();
        var _fecha = $('#txtFecha').val();

        var Datos = { id: _id, fecha: _fecha };

            $.ajax({
    type: "POST",
    url: '@Url.Action("EjecutarApi_NuevoRegistro", "Home")',
    data: Datos,
    cache: false,
    success: function (data) {
        if (data.ok == true) {
            alert(data.mensaje)
            $('#txtId').val(null);
            $('#txtFecha').val(null);
        }
        else if (data.Tipo == "Error"){
            $('#txtId').val(null);
            $('#txtFecha').val(null);
            alert(data.mensaje)
        }
    },
        error: function (data) {
            $('#load_Menu').hide();
        Swal({
            type: 'error'
            , title: 'Ups! hubo un problema.'
            , showConfirmButton: false
            , timer: 3000
        })
    }
});
    }


    $('#btnConsutar').on('click', listaDatos);

    function listaDatos() {
    var _ids = $('#txtIds').val();
    var Datos = { ids: _ids };
    var url = '@Url.Action("ListaDatos", "Home")';
    $('#tablaDatos').load(url, Datos);
}
</script>